html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden; 
  font-family: 'Ubuntu', sans-serif;
}

/* Remove default scrollbars */
body {
  overflow-y: auto;
  background-color: #e0e0e0;
}

a {
  color: black;
  text-decoration: none;
}

#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

header, footer {
  background-color: rosybrown;
  display: flex;
  align-items: center;
  position:sticky;
  width: 100%;
  z-index: 1000;
}


header img {
  height: 60px;
  width: 60px;
  margin-left: 1%;
}

.loginLink {
  margin-left: auto;
  margin-right: 2%;
  /* padding-right: 2%; */
}

.modal {
  z-index: 1050;
}

.modal-backdrop {
  display: none !important;
}

#loginModalBody {
  text-align: center;
}

#loginModalBody label {
  display: inline;
  margin:10px 20px;
}

#loginModalBody input {
  margin:10px 20px;
  /* width: 100%; */
}

#contactModalBody label {
  display: inline;
  margin: 10px 20px;
}

#contactModalBody input {
  margin: 10px 20px;
}

header {
  top: 0;
}

footer {
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  top:0;
  bottom: 0;
}

.contact {
  margin-left: 1%;
 }
 
.copyright {
  font-size: 10px;
}

.social-media {
  margin-right: 2%;
}

.social-media img {
  height: 20px;
  width: 22px;
  margin-right: 3px;
}

input:focus{
  outline: none;
}

