#content {
    margin: 2%;
}

#content .bookContainer {
    display: flex;   
    height: 400px;
}

#content .imageContainer {
    width: 75%;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#content img.hotel-image {
    height: 350px;
    width: 400px;    
}

#content .formContainer {
    width: 25%;
    box-sizing: border-box;
    border: 1px solid black;
    border-left: 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

#bookNow {
    width: 100%;
    padding: 20px;
    /* display: inline-flex;
    justify-content: space-between; */
    
}

#bookNow label {
    margin: 20px 0;
}

#bookNow input {
    margin: 20px 0;
    width: 100%;
}

#bookNow input[type="submit"] {
    margin: 0;
    padding: 10px;
    width: fit-content;
}

.hotel-detail h5 {
    font-family: cursive;
}

 /* #bookNow label {
    width: 40%;
    margin: 20px 5px;
    text-align: left;
    justify-content: left;
} 

#bookNow input {
    width: 60%;
    margin: 20px 5px;
    display: inline-block;
    justify-content: right;
} */

