#content {
    margin: 2%;
}

#content .bookContainer {
    display: flex;   
    height: 400px;
}

#content .imageContainer {
    width: 60%;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative; 
    
}

#content img.hotel-image {
    height: 350px;
    width: 400px;    
}

.carousel-inner img {
    height: 350px;
    width: 400px;   
}

#content .imageContainer .carousel-control-prev-icon,
#content .imageContainer .carousel-control-next-icon {
    color: rosybrown;
    font-size: 55px;
}

#content .formContainer {
    width: 40%;
    box-sizing: border-box;
    border: 1px solid black;
    border-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bookNow {
    height: 100%;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
   
    /* display: inline-flex;
    justify-content: space-between; */
    
}

#bookNow label {
    margin: 15px 0;
}

#bookNow input {
    margin: 15px 0;
    width: calc(100% - 20px);
}

#bookNow input[type="submit"] {
    /* margin: 0 50px; */
    padding: 10px;
    width: fit-content;
    display: inline;
    box-sizing: border-box;
}

.hotel-detail h2 {
    margin-top: 20px;
}

.hotel-detail h5 {
    font-family: cursive;
}

.golden-star {
    color: #EEBD01;
  }

 /* #bookNow label {
    width: 40%;
    margin: 20px 5px;
    text-align: left;
    justify-content: left;
} 

#bookNow input {
    width: 60%;
    margin: 20px 5px;
    display: inline-block;
    justify-content: right;
} */

@media (max-width: 768px) {
    #content .bookContainer {
        flex-direction: column;
        height: auto;
    }

    #content .imageContainer {
        width: 100%;
        height: auto;
    }

    #content img.hotel-image,
    .carousel-inner img {
        width: 100%;
        height: auto;
    }

    #content .formContainer {
        width: 100%;
    }
}

@media (max-width: 576px) {
    #content .imageContainer .carousel-control-prev-icon,
    #content .imageContainer .carousel-control-next-icon {
        font-size: 35px;
    }
}