ul {
  display: flex;
  justify-content: center;
}

li{
  display: inline-flex;
  font-weight: bold;
  padding: 5px 20px;
  margin: 5px 20px;
  color: black;

}

.hotel {
  margin: 2%;
  background-color: lightgrey;
  width: 40%;
  display:inline-flex;
}

.hotel:hover {
  background-color: rosybrown;
}

.hotel div {
  display: inline-block;
  vertical-align: top;
}

.hotel img {
  height: 200px;
  width: 250px;
}

.hotel h3 {
  padding-left: 10px;
  padding-top: 10px;
  color: black;
}

.hotel p {
  padding-left: 10px;
  color: black;
}

.golden-star {
  color: #EEBD01;
}

#map-view {
  display: none;
}

@media (max-width: 768px) {
  ul {
    flex-direction: row;
    align-items: center;
  }

  li {
    padding: 5px;
    margin: 5px;
  }

  .hotel {
    width: 80%;
  }

  .hotel img {
    height: auto;
    width: 100%;
  }

  .hotel div {
    display: block;
  }

  .hotel h3,
  .hotel p {
    padding-left: 5px;
  }

  #map-view img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .hotel {
    width: 100%;
  }
  
}