ul {
  display: flex;
  justify-content: center;
}

li{
  display: inline-flex;
  font-weight: bold;
  padding: 5px 25px;
  margin: 5px 25px;

}

.hotel {
  margin: 2%;
  background-color: lightgrey;
  width: 40%;
  display:inline-flex;
}

.hotel div {
  display: inline-block;
  vertical-align: top;
}

.hotel img {
  height: 200px;
  width: 250px;
}

.hotel h3, p {
  padding-left: 10px;
}

#map-view {
  display: none;
}