html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.loader {
    height: 70px;
    width: 70px;
    border: solid;
    border-radius: 50%;
    border-width: 12px;
    border-color: #f3f3f3;
    border-top-color: #444444;
}